<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org" >
<head>
    <title>OTP Verification</title>
</head>
<body>
<div>
    <p>What's up, babe</p>
<!--    <p>Click on the following link to reset password:</p>-->
    <div>
        <div>
            <p>Your OTP is: <span th:text="${otp}"></span></p>
        </div>
<!--        <a th:href="@{'http://localhost:8080/courtstar/account/verify-account?email=' + ${email} + '&otp=' +${otp}}" target="_blank">Verify</a>-->
    </div>
</div>
</body>
</html>